  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i><%= @board.title %>
                </h2>
              </header>
              <p style="text-align: center">
                <img src="<%= @board.image_url %>" alt="<%= @board.title %>">
              </p>
               <p style="text-align: center">
                <%= @board.content %>
              </p>
              <div style="text-align: right">
                <a href="/boards/<%= @board.id %>/comments/new/">このペットに追悼を送る</a>
              </div>
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>みんなのレビュー
                </h2>
              </header>
                <ul>
                <% @board.comments.each do |comment| %>
                  <li>
                    <p class="user_image"><img src="<%= current_user.avatar %>" alt=""></p>
                    <p><%= comment.nickname %></p>
                    <p><%= comment.rate %></p>
                    <p><%= comment.message %></p>
                    <p style="text-align: left">
                <img src="<%= comment.image_url %>" alt="">
              </p>
                  </li>
                <% end %>
                </ul>

           </div>
          </article>
        </div>
<div id="yjSub">
